<template>
	<div class="card">
		<div class="card-header">
			CSV Import
		</div>
		<div class="card-body">
			<p>Please select a CSV file first, then flights will be shown below</p>
			<input type="file" @change="fileSelected">
		</div>
	</div>
</template>

<script>

	export default {
		name: 'FileSelector',
		methods: {
			fileSelected(event) {
				this.$emit('fileSelected', event.currentTarget)
			}
		}
	}

</script>