<template>
	<section class="flight-filters">
		<div class="card">
			<div class="card-header">
				Search for Flights
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="destination">Choose Destination (optional)</label>
					<select id="destination" class="form-control" 
							v-model="destination"
							@change="filtersChanged">
						<option value="">Please select...</option>
						<option v-for="destination in flightCollection.getUniqueDestinations()" 
								:value="destination"
								:key="destination">{{destination}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="date">Choose a date</label>
					<Datepicker bootstrap-styling 
								v-model="date" 
								@selected="filtersChanged"></Datepicker>
				</div>
			</div>
		</div>
	</section>
</template>

<script>

	import Datepicker from 'vuejs-datepicker'

	export default {
		name: 'Filters',
		components: {
			Datepicker
		},
		props: {
			flightCollection: {
				type: Object,
				required: true
			}
		},
		data: function() {
			return {
				date: null,
				destination: null
			}
		},
		methods: {
			filtersChanged() {
				this.$nextTick(() => {
					this.$emit('filtersChanged', {
						date: this.date,
						destination: this.destination
					})
				})				
			}
		}
	}
</script>

<style scoped>
	
	.card-body {
		display: flex;
	}

	.form-group {
		margin-right: 10px;
	}

</style>