<template>
	<section class="flightDisplay">	
		<template v-if="filtersSet()">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Destination</th>
							<th>Destination Airport IATA</th>
							<th>Time</th>
							<th>Flight Code</th>
						</tr>
					</thead>
					<tbody v-if="getFlatFlightsArray().length > 0">
						<tr v-for="flight in getFlatFlightsArray()" :key="flight.flightNumber + '_' + flight.time + '_' + flight.destinationCode">
							<td>{{flight.destinationText}}</td>
							<td>{{flight.destinationCode}}</td>
							<td>{{flight.time}}</td>
							<td>{{flight.flightNumber}}</td>
						</tr>
					</tbody>
					<tbody v-else>
						<tr>
							<td colspan="4" class="noMatchesMessage">No flights matching selected filters</td>
						</tr>
					</tbody>
				</table>
			</div>
		</template>
		<template v-else>
			<div class="alert alert-info">Please choose a date to see flights (destination optional)</div>
		</template>

	</section>
</template>

<script>

	export default {
		name: 'FlightDisplay',
		props: {
			flightCollection: {
				type: Object,
				required: true
			},
			filters: {
				type: Object,
				required: true
			}
		},
		methods: {
			filtersSet() {
				return this.filters.date !== null
			},
			getFlatFlightsArray() {
				return this.flightCollection.getFlatArray(this.filters)
			}
		}
	}

</script>

<style scoped>
	
	.noMatchesMessage {
		text-align: center;
		font-style: italic;
	}

</style>