<template>
	<div id="app" class="container">
		<h2>Virgin Holidays Flight Data App</h2>
		<FileSelector ref="fileSelector"></FileSelector>
		<template v-if="fileChosen">
			<hr>
			<Filters ref="filters" :flightCollection="flightCollection"></Filters>
			<hr>
			<FlightDisplay 	:flightCollection="flightCollection"
							:filters="filters"></FlightDisplay>
		</template>
	</div>
</template>

<script>

import {FlightCollection} from './collections/flight.js'
import FlightDisplay from './components/FlightDisplay'
import FileSelector from './components/FileSelector'
import Filters from './components/Filters'

export default {
	name: 'virgin-airport-app',
	components: {
		FlightDisplay,
		FileSelector,
		Filters
	},
	data: function() {
		return {
			flightCollection: new FlightCollection(),
			fileChosen: false,
			filters: {
				destination: null,
				date: null
			}
		}
	},
	mounted() {
		this.$refs['fileSelector'].$on('fileSelected', this.fileSelected)
	},
	methods: {
		fileSelected(event) {
			if(!this.fileChosen) {
				this.fileChosen = true
				this.$nextTick(() => {
					this.$refs['filters'].$on('filtersChanged', this.filtersChanged)
				})				
			}			
			this.flightCollection.loadFromCSV(event.files[0])
		},
		filtersChanged(filters) {
			this.filters = filters
		}
	}
}
</script>

<style>
</style>